/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;600;700;800&display=swap');

/* variables */
:root {
  --primary:#000000;
  --secondary: #A8A8A8;
  --warning: #da0f41;
  --fontprimary: #FFFFFF;
  --btnprimary: linear-gradient(167.01deg, #78E389 -18.85%, #1EB893 92.39%);
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', 'Noto Sans TC',sans-serif;
  color: var(--primary);
  letter-spacing: 0.03em
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
}

/* buttons */
button, .btn { 
  background: var(--btnprimary);
  border-radius: 53px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  color: var(--fontprimary);
  width: 137px;
height: 45px;
}
button:hover, .btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid  var(--secondary);
  background: white;
}
input, textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}